.flexMeRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerContainer{
  height: 60px;
  width: 100%;
  background: rgb(42, 42, 71);
  color: white;
  padding: 10px;
}

.navButton{
  width: 60px;
}

.imagesContainer{
  justify-content: space-evenly;
}

.landingImage{
  width: 45%;
}

.reviewContainer{
  background: rgb(245, 244, 244);
  padding-left: 20px;
  
}

.reviewFullRow{
  justify-content: flex-start;
}

.reviewPic{
  height: 80px;
  width: auto;
  margin-top: 20px;
  margin-right: 20px;
}